/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333; /* Changed text color to dark gray */
  background-color: #000; /* Black background color */
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* White text color for headings */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.button-container {
  text-align: center; /* Centered buttons */
  margin: 20px 0; /* Added margin to buttons for spacing */
}

.button-container button {
  margin: 10px; /* Added margin to buttons for spacing */
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #333; /* Changed background color to dark gray */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff; /* White text color for container */
}

#song-info,
#movie-actors,
#singers,
#music-by {
  text-align: center; /* Centered song info, movie actors, singers, and music by */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li p {
  margin-bottom: 0;
}

.start-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #FF5733;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.4s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.start-button:hover {
  background-color: #FF4500;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.start-button:active {
  transform: translateY(2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
