<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome - Music Recommendation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">

      <div class="container">
    <h1>Welcome to the Music Recommendation System</h1>
    <p>We will recommend a series of Tamil songs, and based on your feedback, we'll discover your favorite composer!</p>
    <p>Click the button below to start receiving song recommendations.</p>
    
    <!-- New Start Recommendation button -->
    <a href="{{ url_for('start_recommendation') }}" class="start-button">Start Recommendation</a>
      </div>
  </body>
</html>
